<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ encabezado }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <h1> {{ texto }} </h1>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Asunto</ion-label>
            <ion-input type="text"
            name="nombre"
            [(ngModel)]="citas.asunto"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Detalles</ion-label>
            <ion-input type="text"
            name="detalles"
            [(ngModel)]="citas.detalles"></ion-input>
          </ion-item>
          <ion-item>
          <ion-label floating>Fecha</ion-label>
            <ion-input type="text"
            name="fecha"
            [(ngModel)]="citas.fecha"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Lugar</ion-label>
            <ion-input type="text"
            name="lugar"
            [(ngModel)]="citas.lugar"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Contacto</ion-label>
            <ion-select name="idContacto" [(ngModel)]="citas.idContacto" >
              <ion-option *ngFor="let c of contacto" value="{{c.idContacto}}">{{c.nombre +" " + c.apellido}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row>
          <button ion-button *ngIf="parametro == 'nuevo'"
            (click)="guardar()">Guardar</button>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="parametro != 'nuevo'">
        <ion-row>
           <button
            (click)="editar()"
            ion-button color="warning">Editar</button>  
            <button
            *ngIf="parametro != 'nuevo'"
            (click)="eliminar()"
            ion-button color="danger">Eliminar</button>
        </ion-row>
      </ion-grid>  
    </ion-row>
  </ion-grid>
</ion-content>
