<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Citas
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-title>Citas Registradas</ion-title>
  <ion-card *ngFor="let cita of citas" (click)="verForm(cita.idCita)">
    <ion-card-header>
      <h2>{{cita.asunto +" con " + cita.nombre + " " + cita.apellido}}</h2>
    </ion-card-header>
    <ion-card-content>
      {{cita.fecha}}
      {{cita.lugar}}
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary"
    (click)="verForm('nuevo')">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
