<ion-header>
  <ion-navbar color="primary">
    <ion-title>SignUp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Crear Cuenta</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Nick</ion-label>
            <ion-input type="text"
            name="nick"
            [(ngModel)]="usuario.nick"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input type="password"
            name="contrasena"
            [(ngModel)]="usuario.contrasena"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button block
      (click)="registrarse()">Acceder</button>
    </ion-row>
  </ion-grid>
</ion-content>
