<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ encabezado }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <h1>{{ texto }}</h1>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input type="text"
            name="nombre"
            [(ngModel)]="contacto.nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Apellido</ion-label>
            <ion-input type="text"
            name="apellido"
            [(ngModel)]="contacto.apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Direccion</ion-label>
            <ion-input type="text"
            name="direccion"
            [(ngModel)]="contacto.direccion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Telefono</ion-label>
            <ion-input type="text"
            name="telefono"
            [(ngModel)]="contacto.telefono"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Correo</ion-label>
            <ion-input type="text"
            name="correo"
            [(ngModel)]="contacto.correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Genero</ion-label>
            <ion-select [(ngModel)]="contacto.genero">
              <ion-option value="Hombre">Hombre</ion-option>
              <ion-option value="Mujer">Mujer</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Categoria</ion-label>
            <ion-select [(ngModel)]="contacto.idCategoria">
              <ion-option value="1">Amigos</ion-option>
              <ion-option value="2">Colegio</ion-option>
              <ion-option value="3">Familia</ion-option>
              <ion-option value="4">Trabajo</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row>
          <button ion-button *ngIf="parametro == 'nuevo'"
            (click)="guardar()">Guardar</button>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="parametro != 'nuevo'">
        <ion-row style="align-items: center;">
           <button 
            (click)="editar()"
            ion-button color="warning">Editar</button>  
            <button
            *ngIf="parametro != 'nuevo'"
            (click)="eliminar()"
            ion-button color="danger">Eliminar</button>
        </ion-row>
      </ion-grid>  
    </ion-row>
  </ion-grid>
</ion-content>
