<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Contactos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let contacto of contactos" (click)="verForm(contacto.idContacto)">
    <ion-item>
      <ion-thumbnail *ngIf="contacto.genero == 'Hombre'"  item-start>
        <img src="../../assets/icon/photo.png">
      </ion-thumbnail>
      <ion-thumbnail *ngIf="contacto.genero == 'Mujer'"  item-start>
        <img src="../../assets/icon/avatar1.png">
      </ion-thumbnail>
      <h2>{{ contacto.nombre + " " + contacto.apellido}}</h2>
      <p>{{ contacto.telefono + "/" + contacto.correo }}</p>
      <p>{{ contacto.direccion }}</p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary"
    (click)="verForm('nuevo')">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
