<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Contactos" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Citas" tabIcon="bookmarks"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Tareas" tabIcon="attach"></ion-tab>
</ion-tabs>
