<ion-header>
  <ion-navbar color="primary">
    <ion-title>
        Tareas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>Tareas Registradas</ion-title>
   <ion-item *ngFor="let t of tareas" (click)="verForm(t.idTarea)">
    <ion-icon name="md-planet" item-start></ion-icon>
    {{t.titulo}}
    <ion-badge item-end>{{t.fechaEntrega}}</ion-badge>
  </ion-item> 
  <ion-fab right bottom>
    <button ion-fab color="primary"
    (click)="verForm('nueva')">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
