<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ encabezado }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <h1>{{ texto }}</h1>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Titulo</ion-label>
            <ion-input type="text"
            name="titulo"
            [(ngModel)]="tareas.titulo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Descripcion</ion-label>
            <ion-input type="text"
            name="descripcion"
            [(ngModel)]="tareas.descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Fecha Entrega</ion-label>
            <ion-input type="text"
            name="fechaEntrega"
            [(ngModel)]="tareas.fechaEntrega"></ion-input>
          </ion-item>        
          <ion-item>
            <ion-label floating>Estado</ion-label>
            <ion-select [(ngModel)]="tareas.estado">
              <ion-option value="Sin empezar">Sin empezar</ion-option>
              <ion-option value="Empezada">Empezada</ion-option>
              <ion-option value="En proceso">En proceso</ion-option>
              <ion-option value="Terminada">Terminada</ion-option>
              <ion-option value="Sin entregar">Sin entregar</ion-option>
              <ion-option value="Entregada">Entregada</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row>
          <button ion-button *ngIf="parametro == 'nueva'"
            (click)="guardar()">Guardar</button>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="parametro != 'nueva'">
        <ion-row>
           <button
            (click)="editar()"
            ion-button color="warning">Editar</button>  
            <button
            *ngIf="parametro != 'nueva'"
            (click)="eliminar()"
            ion-button color="danger">Eliminar</button>
        </ion-row>
      </ion-grid>  
    </ion-row>
  </ion-grid>
</ion-content>
