<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bienvenido a Agenda Ionic!</h2>
  <p>
    Utilize las opciones de abajo para cambiar pestaña.
  </p>
  <p>
    Cunenta con las siguientes opciones:
  </p>
  <p>
    Contactos: podrá agregar, editar y elimnar.
  </p>
  <p>
    Citas: podrá registrar las citas proximas con sus contactos, editar y elimnar tambien
  </p>
  <p>
    Taresa: podrá registrar, editar y elimnar las tarteas proximas.
  </p>
  <button ion-button color="primary" (click)="cerrarSesion()">Salir</button>
</ion-content>
